<section id="header" class="skel-layers-fixed">
    <header>
        <span class="image avatar"><img src="assets/images/me.jpeg" alt="My Profile Picture" /></span>
        <h1 id="logo"><a href="#">{{myName}}</a></h1>
        <p>{{myDesc}}</p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#one" class="active">About</a></li>
            <li><a href="#two">Things I Can Do</a></li>
            <li><a href="#three">A Few Accomplishments</a></li>
            <li><a href="#four">Contact</a></li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li><a href="{{myFacebook}}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="{{myInstagram}}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="{{myGithub}}" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="mailto:{{myEmail}}" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    </footer>
</section>
