<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal ie-nav" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" [routerLink]="'/'">
            <img src="/assets/images/icons/icons8-home-page-100.png" class="rounded-circle logo-icon" alt="wasupol_profile_picture">
        </a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light {{router.url == '/who-am-i' ? 'active' : null}}" mdbWavesEffect>
                <a class="nav-link" [routerLink]="'/who-am-i'">Who am I?</a>
            </li>
            <li class="nav-item waves-light {{router.url == '/my-experience' ? 'active' : null}}" mdbWavesEffect>
                <a class="nav-link" [routerLink]="'/my-experience'">My experience</a>
            </li>
            <li class="nav-item waves-light {{router.url == '/my-skills' ? 'active' : null}}" mdbWavesEffect>
                <a class="nav-link" [routerLink]="'/my-skills'">My skills</a>
            </li>
            <li class="nav-item waves-light {{router.url == '/portfolio' ? 'active' : null}}" mdbWavesEffect>
                <a class="nav-link" [routerLink]="'/portfolio'">Portfolio</a>
            </li>
            <li class="nav-item waves-light {{router.url == '/contact-me' ? 'active' : null}}" mdbWavesEffect>
                <a class="nav-link" [routerLink]="'/contact-me'">Contact Me</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<!-- Main -->
<main class="mdl-layout__content">
    <div class="page-content">
        <ng-content></ng-content>
    </div>
    <app-footer></app-footer>
</main>
<!-- /.Main -->
