<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<section id="footer">-->
<!--    <div class="container">-->
<!--        <ul class="copyright">-->
<!--            <li>&copy; Untitled. All rights reserved.</li><li>Design: Wasupol Tungsakultong</li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</section>-->
<div class="container no-bottom mt-30">
    <div class="decoration"></div>
    <p class="text-center half-bottom">&copy; Copyright 2021. All rights reserved.</p>
    <p class="text-center half-bottom"><a target="_blank" href="https://icons8.com/icons/set/home-page">Home Page icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
    <div class="footer-socials">
        <a href="{{myFacebook}}" class="footer-icon footer-facebook"><i class="fa fa-facebook"></i></a>
        <a href="{{myInstagram}}" class="footer-icon footer-instagram"><i class="fa fa-instagram"></i></a>
        <a href="mailto:{{myEmail}}" class="footer-icon footer-email"><i class="fa fa-envelope"></i></a>
        <a href="{{myGithub}}" class="footer-icon footer-github"><i class="fa fa-github"></i></a>
    </div>
</div>
