/*About Sec*/
.about-sec .candidate-img {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    background: url("/assets/images/me.jpeg");
    background-size: cover;
    margin: 0 auto; }
.about-sec .social-icons {
    text-align: center;
    padding-inline-start: 0;
}
.about-sec .social-icons li {
    display: inline-block;
    padding: 0 9px; }
.about-sec .social-icons li:focus {
    outline: none; }
.about-sec .social-icons li a i {
    color: #848484;
    font-size: 18px;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
.about-sec .social-icons li a.facebook-link:hover i {
    color: #3b5998; }
.about-sec .social-icons li a.twitter-link:hover i {
    color: #55acee; }
.about-sec .social-icons li a.linkedin-link:hover i {
    color: #007bb6; }
.about-sec .social-icons li a.dribbble-link:hover i {
    color: #ea4c89; }
.about-sec .social-icons li a.instagram-link:hover i {
    color: #3f729b; }
.about-sec .profile-wrap li {
    margin-bottom: 8px; }
.about-sec .profile-wrap li:last-child {
    margin-bottom: 0; }
.about-sec .profile-wrap li .profile-title, .about-sec .profile-wrap li .profile-desc {
    display: inline-block; }
.about-sec .profile-wrap li div.profile-title {
    width: 150px;
    margin-right: 20px;
    text-transform: capitalize;
    color: #444; }
.about-sec .datepicker {
    position: absolute;
    z-index: 4;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    -o-transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    -webkit-transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0; }
.about-sec .datepicker.datepicker-open {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
.about-sec .datepicker .ui-datepicker-prev, .about-sec .datepicker .ui-datepicker-next {
    border: medium none;
    display: inline-block;
    font-family: "Material-Design-Iconic-Font";
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    cursor: pointer;
    font-size: 20px !important;
    padding-top: 8px;
    text-align: center; }
.about-sec .datepicker .ui-datepicker .ui-datepicker-title {
    font-weight: 500; }
.about-sec .datepicker .ui-datepicker .ui-datepicker-prev {
    left: 0 !important;
    top: 0; }
.about-sec .datepicker .ui-datepicker .ui-datepicker-next {
    right: 0 !important;
    top: 0; }
.about-sec .datepicker .ui-datepicker-prev:before {
    content: '\f2fa'; }
.about-sec .datepicker .ui-datepicker-next:before {
    content: '\f2fb'; }
.about-sec .datepicker .ui-widget {
    font-family: inherit; }
.about-sec .datepicker .ui-widget-header .ui-icon {
    background-image: none; }
.about-sec .datepicker .ui-widget-header, .about-sec .datepicker .ui-state-hover, .about-sec .datepicker .ui-widget-content .ui-state-hover, .about-sec .datepicker .ui-widget-header .ui-state-hover, .about-sec .datepicker .ui-state-focus, .about-sec .datepicker .ui-widget-content .ui-state-focus, .about-sec .datepicker .ui-widget-header .ui-state-focus, .about-sec .datepicker .ui-button:hover, .about-sec .datepicker .ui-button:focus {
    background: transparent none repeat scroll 0 0;
    border: none; }
.about-sec .datepicker .ui-widget.ui-widget-content {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    border-radius: 0; }
.about-sec .datepicker .ui-state-default, .about-sec .datepicker .ui-widget-content .ui-state-default, .about-sec .datepicker .ui-widget-header .ui-state-default, .about-sec .datepicker .ui-button, .about-sec .datepicker html .ui-button.ui-state-disabled:hover, .about-sec .datepicker html .ui-button.ui-state-disabled:active {
    background: transparent none repeat scroll 0 0;
    border: none;
    color: #444;
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    text-align: center; }
.about-sec .datepicker .ui-state-default {
    height: 30px;
    width: 30px; }
.about-sec .datepicker .ui-widget-content .ui-state-default.ui-state-highlight {
    background: #01c853;
    border-radius: 50%;
    color: #fff;
    height: 30px;
    width: 30px; }
.about-sec .datepicker .ui-state-disabled, .about-sec .datepicker .ui-widget-content .ui-state-disabled, .about-sec .datepicker .ui-widget-header .ui-state-disabled {
    opacity: 1; }
.about-sec .datepicker .ui-state-disabled .ui-state-default, .about-sec .datepicker .ui-widget-content .ui-state-disabled .ui-state-default, .about-sec .datepicker .ui-widget-header .ui-state-disabled .ui-state-default {
    color: #ff3d00; }
.about-sec #datepickopn {
    cursor: pointer; }
.about-sec .ui-datepicker {
    font-size: 14px;
    padding: 11px;
    width: 20em; }
.about-sec .ui-widget-header {
    color: #444; }
.about-sec .ui-widget-content {
    color: #848484; }

#datepicklayer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    z-index: 3; }

a {
    color: #666;
}
