<section id="three">
    <div class="container">
        <h3>{{title}}</h3>
        <p>{{subtitle}}</p>
        <div class="features" *ngIf="accomplishments != null || accomplishments.length > 0">
            <article *ngFor="let accomplishment of accomplishments">
                <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                <div class="inner">
                    <h4>Possibly broke spacetime</h4>
                    <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
                </div>
            </article>
        </div>
    </div>
</section>
