<app-header>
    <div class="mdl-grid portfolio-max-width">
        <div *ngFor="let accomplishment of accomplishments" class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__media">
                <img alt="{{accomplishment.name}}" border="0" class="article-image" src="{{accomplishment.imageURL}}">
            </div>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{accomplishment.name}}</h2>
            </div>
            <div [innerHTML]="accomplishment.description" class="mdl-card__supporting-text">
            </div>
        </div>
    </div>
</app-header>
