<section id="three">
    <div class="container">
        <h3>{{title}}</h3>
        <p>{{subtitle}}</p>
        <div class="features" *ngIf="accomplishments != null || accomplishments.length > 0">
            <article *ngFor="let accomplishment of accomplishments; let i = index" [attr.data-index]="i">
                <a class="image" *ngIf="i % 2 == 0 && accomplishment.imageURL != null"><img src="{{accomplishment.imageURL}}" alt="{{accomplishment.name}}" /></a>
                <div class="inner">
                    <h4>{{accomplishment.name}}</h4>
                    <p [innerHTML]="accomplishment.description"></p>
                </div>
                <a class="image" *ngIf="i % 2 == 1 && accomplishment.imageURL != null"><img src="{{accomplishment.imageURL}}" alt="{{accomplishment.name}}" /></a>
            </article>
        </div>
    </div>
</section>
