<angular-image-viewer (customImageEvent)="handleExit($event)" *ngIf="imageClick != null" [config]="{customBtns:[{name: 'exit', icon: 'fa fa-times'}], btnShow: {
        zoomIn: false,
        zoomOut: false,
        rotateClockwise: false,
        rotateCounterClockwise: false,
        next: false,
        prev: false
    }, allowFullscreen: false}" [screenHeightOccupied]="0" [src]="[imageClick]"></angular-image-viewer>
<app-header *ngIf="imageClick == null">
    <div class="d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="bg-struct bg-img"></div>
    <div class="container" *ngIf="info != null">
        <app-about-me [title]="info.title" address="{{info.address}}" age="{{info.age}}"
                      email="{{info.email}}" facebookLink="{{info.facebookLink}}" githubLink="{{info.github}}"
                      instagramLink="{{info.instagram}}"
                      linkedinLink="{{info.linkedin}}" phone="{{info.phone}}" subtitle="{{info.subtitle}}"></app-about-me>
        <app-my-motto [motto]="info.motto"></app-my-motto>
        <app-what-i-do-in-a-day></app-what-i-do-in-a-day>
        <app-what-i-love [poppyPupaeImages]="info.dogImages" (image)="onGalleryImageClick($event)"></app-what-i-love>
    </div>
</app-header>
