<app-header>
    <div class="container">
        <section id="experience_sec" class="experience-sec sec-pad-top-sm">
                <h2 class="mb-30">Working experience</h2>
                <div class="timeline-wrap  overflow-hide mb-30">
                    <ul class="timeline">
                        <li *ngFor="let experience of workingExperience; let i = index" [attr.data-index]="i" class="{{i % 2 == 1 ? 'timeline-inverted' : null}}">
                            <div class="timeline-badge">
                                <i class="zmdi zmdi-{{experience.icon}} font-{{experience.color}}"></i>
                            </div>
                            <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-{{experience.color}}">
                                <div class="timeline-heading">
                                    <h4 class="mb-10">{{experience.position}}</h4>
                                    <span class="duration mb-5">{{experience.time}}</span>
                                    <span class="institution">{{experience.company}}</span>
                                </div>
                                <div class="timeline-body">
                                    <p class="mt-25" [innerHTML]="experience.description"></p>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix no-float"></li>
                    </ul>
                </div>
            </section>
    </div>
</app-header>
