<section id="portfolio_sec" class="portfolio-sec sec-pad-top-sm">
    <div class="mb-15">
        <h2 class="pull-left float-none-xs">{{title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone" *ngFor="let poppyImage of poppyPupaeImages; let i = index" [attr.data-index]="i">
            <div class="my-card-image mdl-card mdl-shadow--2dp" [ngStyle]="{background : 'url(' + poppyImage.image + ') center / cover'}" (click)="onImageClick(poppyImage.image, i)" id="my-image-{{i}}">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
        </div>
    </div>
</section>
