<!--<div id="main">-->
<!--    <app-about></app-about>-->
<!--    <app-thing-can-do></app-thing-can-do>-->
<!--    <app-accomplishments></app-accomplishments>-->
<!--    <app-contact></app-contact>-->
<!--</div>-->
<div class="row app-content">
    <div class="col-3">
        <a routerLink="/my-resume">
            <img alt="wasupol_resume" class="img-fluid rounded-circle mx-auto d-block"
                 src="assets/images/icons/icons8-life-cycle-100.png">
        </a>
        <p class="text-center">Who am I?</p>
    </div>
    <div class="col-3">
        <a routerLink="/my-experience">
            <img alt="wasupol_resume" class="img-fluid rounded-circle mx-auto d-block"
                 src="assets/images/icons/icons8-business-100.png">
        </a>
        <p class="text-center">My Experience</p>
    </div>
    <div class="col-3">
        <a routerLink="/my-skills">
            <img alt="wasupol_resume" class="img-fluid rounded-circle mx-auto d-block"
                 src="assets/images/icons/icons8-development-skill-100.png">
        </a>
        <p class="text-center">My Skills</p>
    </div>
    <div class="col-3">
        <a routerLink="/portfolio">
            <img alt="wasupol_portfolio" class="img-fluid rounded-circle mx-auto d-block"
                 src="assets/images/icons/icons8-archive-folder-100.png">
        </a>
        <p class="text-center">Portfolio</p>
    </div>
    <div class="col-3">
        <a routerLink="/contact-me">
            <img alt="wasupol_contact_me" class="img-fluid rounded-circle mx-auto d-block"
                 src="assets/images/icons/icons8-email-100.png"></a>
        <p class="text-center">Contact Me</p>
    </div>
</div>
