.page-header{
  text-align:center;
}

.avatar{
  margin:0 auto;
}

@media (max-width:767px) {
  .avatar{
    padding:20px;
  }
}

.social-btns-holder{
  text-align:center;
}

.social-btns-holder li{
  padding:0;
}

.btn-social{
  color:white;
  opacity:0.9;
  font-size:10px;
  padding:8px 10px;
}

@media (max-width:767px) {
  .btn-social{
    width:80px;
  }
}

.btn-social:hover{
  color:white;
  opacity:1;
}

.btn-facebook{
  background:#3b5998;
}

.btn-twitter{
  background:#00aced;
}

.btn-linkedin{
  background:#0e76a8;
}

.btn-github{
  background:#000000;
}

.btn-google{
  background:#c32f10;
}

.btn-stackoverflow{
  background:#D38B28;
}

.resume-heading .social-btns{
  margin-top:15px;
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child{
  border-radius:0;
}

.bs-callout{
  border-color:#eee;
  border-image:none;
  border-radius:3px;
  border-style:solid;
  border-width:1px 1px 1px 5px;
  margin-bottom:5px;
  padding:20px;
  border-left-color:#0066ff;
}

.bs-callout:last-child{
  margin-bottom:0;
}

.bs-callout h4{
  margin-bottom:10px;
  margin-top:0;
  color:#d9534f;
}

.panel-body{
  padding:0;
}

.inactive-link{
  pointer-events:none;
  cursor:default;
}

.progress-bar-container{
  position:relative;
}

.progress-bar{
  text-align:left;
  white-space:nowrap;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  cursor:pointer;
}

span.progress-type{
  position:absolute;
  top:0px;
  left:10px;
  font-size:12px;
  line-height:20px;
  color:#fff;
}

.progress-meter{
  min-height:15px;
  border-bottom:2px solid rgb(160, 160, 160);
  margin-bottom:15px;
}

.progress-meter > .meter{
  position:relative;
  float:left;
  min-height:15px;
  border-width:0px;
  border-style:solid;
  border-color:rgb(160, 160, 160);
  width:25%;
}

.progress-meter > .meter-left{
  border-left-width:2px;
}

.progress-meter > .meter-right{
  border-right-width:2px;
  float:right;
}

.progress-meter > .meter-right:last-child{
  border-left-width:2px;
}

.progress-meter > .meter > .meter-text{
  position:absolute;
  display:inline-block;
  bottom:-20px;
  width:100%;
  font-weight:700;
  font-size:0.85em;
  color:rgb(160, 160, 160);
  text-align:left;
}

.progress-meter > .meter.meter-right > .meter-text{
  text-align:right;
}

